* {
  margin: 0;
  padding: 0;
}

body {
  color: #363a3b;
  font-family: 'Roboto', sans-serif;
}

.home-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-container .__section-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  text-align: left;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
}

.home-container .__details {
  padding: 15px;
  position: relative;
  height: 100%;
}

.home-container .__details .__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  word-spacing: 0px;
}

.head-container .__logo {
  height: 40px;
  width: 40px;
}

.head-container .__header {
  display: flex;
  align-items: center;
}

@keyframes open {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }
 
 @keyframes close {
    from {
      width: 50%;
    }
    to {
      width: 0;
    }
  }

.head-container .nav-bar {
  list-style: none;
  position: absolute;
  top: 55px;
  right: 0px;
  text-align: center;
  background: #fff;
  z-index: 100;
  display: none;
  width: 50%;
}

.open-sidebar {
  animation: open 1s;
  display: block !important;
}

.close-sidebar {
  animation: close 1s;
}

.head-container .nav-bar .__nav-item {
  padding: 15px;
}

.head-container .nav-bar .__nav-item a {
  text-decoration: none;
  color: #363a3b;
}

.head-container .nav-bar .__nav-item a:visited {
  color: #363a3b;
}

.section {
  margin: 10px 20px 20px 0;
  width: 100%;
  /* margin-bottom: 50px; */
}

.section .__header {
  padding-bottom: 15px;
}
.__second .__info .__info-section {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 20px;
}

.__second .__info .__info-item {
  text-align: center;
  width: 50%;
}

.__second .__info .__info-item img {
  height: 50px;
  width: 50px;
  padding-bottom: 10px;
}

.__second .__info .__info-item h3 {
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.__second .__info .__info-item p {
  padding: 0 5px;
}

.__third .__mission {
  padding-bottom: 10px;
}

.__third header {
  padding-bottom: 5px;
}

.__third h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: left;
}

.__fifth .__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.__fifth .__contact .__contact-item {
  padding-right: 5px;
  text-align: left;
}

.__fifth .__contact .__contact-item h4 {
  padding-bottom: 5px;
}

.video-player {
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player .__video-text {
  color: #fff;
  font-weight: 300;
  font-size: 28px;
  line-height: 44px;
  letter-spacing: -1px;
  max-width: 80%;
  margin: 0 auto;
}

video {
  position: absolute;
  top: 204px;
  left: 50%;
  min-width: 100%;
  min-height: 400px;
  width: auto;
  height: 450px;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(//demosthenes.info/assets/images/polina.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.nav {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
}

.nav .nav-icon {
    color: #000;
    background: #000;
    height: 1px;
    width: 16px;
    display: block;
    position: absolute;
    top: 10px;
    left: 2px;
  }

.nav:before {
    content: '';
    color: #000;
    background: #000;
    height: 1px;
    width: 20px;
    display: block;
    top: 0px;
    position: absolute;
  }

.nav:after {
    content: '';
    color: #000;
    background: #000;
    height: 1px;
    width: 12px;
    display: block;
    position: absolute;
    top: 20px;
    right: 2px;
  }

  