<section>
    <div style="width: 700px; height: 300px;">
      <canvas id="runGraphByYear"></canvas>
    </div>
    <p class="quote-text"> Sachin played well. Sometimes he was out of form as
      pictured in year 1993, 1995, 1997.  Everybody takes a hit but what makes
      a man great is his quality to rise again. So Sachin came back to form in
      subsequent years as in 1996, 1998, 2007.
      </p>
    <div style="width: 700px; height: 300px;">
      <canvas id="runsByToss"></canvas>
    </div>
    <p class="quote-text"> Above chart depicts another great quality of his
      batting.  He scored almost equal runs whether the Toss was lost or won.
      It means that whatever was the condition of pitch, dew on ground or
      availability of light, he scored big sums.
      </p>
</section>
<section class="navButtons">
    <div class="previous-page" ng-click="previousPage('battingStats')">
        <p><</p>
    </div>
    <div class="next-page" ng-click="nextPage('battingStats')">
        <p>></p>
    </div>
</section>
