<section>
    <div>
      <canvas id="runsAgainstTeams"></canvas>
    </div>
    <p class="quote-text">He played well against all big teams, spared no one.
        There was no bowler left in any team who hadn't faced the wrath of god.
        He scored approximately more than 1500 runs against any team except Bangladesh.
    </p>
    <div>
      <canvas id="wicketsAgainstTeams"></canvas>
    </div>
    <p class="quote-text">He was also a right handed medium paced bowler.
      He did quite well here too.  He was not that great with ball as he was
      with bat.  But he helped the team to get a breakthrough with ball whenever
      needed.
    </p>

</section>
<section class="navButtons">
    <div class="previous-page" ng-click="previousPage('playedBigTeams')">
        <p><</p>
    </div>
    <div class="next-page" ng-click="nextPage('playedBigTeams')">
        <p>></p>
    </div>
</section>
