<section>
  <div style="width: 400px; height: 500px;" class="inline-block">
    <canvas id="winningPercent" width="400" height="400"></canvas>
  </div>
  <p class="side-quote-text"> Everytime Sachin scored runs, his team was more likely
    to win the match.  Higher the score of Sachin, higher the probability of his
    team to win the match.
  </p>
  <div class="clearfix"></div>
  <p class="right-quote-text"> Although he was a batsman, but his ability to
    contribute with ball was remarkable.  He helped the team with much needed
    breakthroughs, broke opposition batting partnerships which helped the team
    in winning a lot of matched.  He was a lucky run machine.
  </p>
  <div style="width: 400px; height: 500px;" class="inline-block">
    <canvas id="winningPercentWicks" width="400" height="400"></canvas>
  </div>
</section>
<section class="navButtons">
    <div class="previous-page" ng-click="previousPage('teamPerformance')">
        <p><</p>
    </div>
    <div class="next-page" ng-click="nextPage('teamPerformance')">
        <p>></p>
    </div>
</section>
